body{
    background-color: rgb(134, 182, 221);
}

div{
    font-size:50px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(191, 172, 226);
    border-radius: 10px;
    text-align: center;
    

}
h1{
font-style: oblique;
font-weight: bold;
color: rgb(124, 11, 230);
text-align: center;
text-decoration: aliceblue ;
text-shadow: 0cm;

}
inframe{
   max-width: 20px;

    
}